* {
  font-family: Roboto;
}

.borsa {
  background-color: #fff;
  margin-top: 40px;
}
.Piyasalar {
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: normal;
  margin: 10px 0px 40px 20px;
  line-height: 1.21;
  color: #2b3b48;
}
.for-cur {
  color: #2b3b48;
}
.path {
  width: 351px;
  height: 1px;
  margin: 24px 79px 29px 75px;
  opacity: 0.3;
  background-color: #bac9d5;
}
.forcur-border:after {
  width: 351px;
  height: 1px;
  margin: 10px 40px 10px 40px;
  opacity: 0.3;
  background-color: #bac9d5;
}
.doviz-satir {
  display: inline-block;
}
.doviz-ismi {
  line-height: 1.25;
  text-align: left;
}
.doviz-tr {
  font-size: 12px;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.doviz-baslik {
  font-weight: bold;
  font-size: 16px;
}
.deger-baslik {
  font-size: 12px;
  color: #4f6477;
  text-align: right;
}
.deger {
  text-align: right;
  font-size: 16px;
}
.flag {
  text-align: right;
}

.calculator {
  padding-top: 25px;
  text-align: center;
  border-width: 1px;
  border-color: #eee;
  border-radius: 5px;
  border-style: solid;
  background-image: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
  padding-bottom: 20px;
}
.calculator > h2 {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
}
.calculator > .row > .col-12 {
  padding: 10px;
  font-size: 16px;
}
#firstvalue,
#result {
  max-width: 60%;
}
.calculator > .row > .col-12 > #firstvalue,
.calculator > .row > .col-12 > #rate,
.calculator > .row > .col-12 > #buton,
.calculator > .row > .col-12 > #result {
  border-radius: 0px;
  border-right: none;
}
.calculator > .row > .col-12 > #firstvalue {
  border-right: none;
}
.calculator > .row > .col-12 > #firstvalue:focus {
  border: none;
}
.button-primary {
  margin: auto;
  margin-top: 10px;
}
.calculator > .row > .col-12 > #rate {
  border-left: none;
}
.defaultcurrency {
  appearance: none;
  border-radius: 0px;
  border-left: none;
}
.selectcurrency,
.defaultcurrency {
  font-weight: 500;
}
.button-bot {
  width: 80%;
}
.btn-container {
  text-align: center;
}
.btn-dtl,
.btn-dtl:focus,
.btn-dtl:hover {
  background-color: #2b3b48;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.94px;
  height: 48px;
  text-align: center;
  color: #fff;
  height: 48px;
  border: 0px;
  border-radius: 3px;
}
.btn-all {
  background-color: #fff;
  border: solid 2px #4f6477;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  height: 48px;
  letter-spacing: 0.94px;
  text-align: center;
  white-space: nowrap;
  color: #2b3b48;
  border-radius: 3px;
  margin-bottom: 10px;
}

@media screen and (max-width: 490px) {
  .borsa {
    margin: auto;
    max-width: 100%;
    margin-top: 30px;
  }
  .Piyasalar {
    margin: auto;
    margin-bottom: 30px;
  }
  .btn-dtl,
  .btn-dtl:focus,
  .btn-dtl:hover {
    margin: 10px 0 10px 0;
  }
}
